.navigation {
    min-height: 70px;
    margin-bottom: 3rem;
    box-shadow: 3px 3px 5px #00000059;
}

.menuContainer {
    display: flex;
    align-items: center;    
}

.menuContainer li {
    margin-left: 1rem;
}

.menuContainer li a {
    text-decoration: none;
}