.container {
  height: 140px;
  width: 320px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 3px 3px 5px #00000059;
  border-radius: 12px;
  display: flex;
}

.colorBar {
    width: 40px;
    height: 100%;
    border-radius: 12px 0px 0px 12px;
}

.course {
    width: 100%;
    margin: 8px;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}