.container {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.question {
    margin-bottom: 16px;
}

.choices {
    display: grid;
    grid-column-start: 2;
}

.navigation {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}