.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 16px;
}

.question {
    margin-right: 16px;
}

.choices {
    display: grid;
    grid-template-columns: 2;
    margin: 16px 48px;
}

.navigation {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}